body{
	padding: 0;
	margin: 0;
	background-image: linear-gradient(to right, #FF6347, #FFD700);
}

*, *::before, *::after{
	font-family: Gotham Rounded;
	box-sizing: border-box;
	font-weight: normal;

}

.calculator-grid{
	display: grid;
	
	justify-content: center;
	align-content:  center;
	min-height: 100vh;
	grid-template-columns: repeat(4, 100px);
	grid-template-rows: minmax(120px, auto); repeat(5, 100px);

}

.calculator-grid > button{
	border-radius: 5px;
	cursor: pointer;
	font-size: 2rem;
	border-radius: 2px solid white;
	background-color: aqua ;
	}

.calculator-grid > button:hover{
	background-color: transparent;
	border: transparent;

}

.space-two{
	grid-column: span 2;

}

.output{
	grid-column: 1/-1;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-around;
	border:2px ;
	border-radius: 5px;
	padding: 10px;
	
}

.output > .previous-operand{
	font-size: 1.5rem; 

}

.output> .current-operand{
	font-size: 2.5rem;
}

